<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SOW</title> 
    <!-- Bootstrap CSS File  -->
    <link rel="stylesheet" href="css/library/bootstrap.min.css">
    <link rel="stylesheet" href="css/sowStyle.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body>
 <div ng-app="myApp" ng-controller="myCtrl" ng-init="readRecords()"> 
<!-- Content Section -->
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1>SOW</h1>            
        </div>
        <div class="col-md-3 alert">
            <p>Search: <input type="text" placeholder="Search" /></p> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button class="btn btn-success" data-toggle="modal" data-target="#add_new_record_modal">Add New Record</button>
            </div>
        </div>
        
        <div class="col-md-12">
            <div class="pull-left">
                <p ng-model="successStatus">abc</p>
            </div>
        </div>
        
       
        
    </div>    
    
    <div class="row">
        <div class="col-md-12">
            <h3>Records:</h3>
 
            <div class="records_content">
            <table class="table table-bordered table-striped table-fixedheader">
            <thead style="background-color: mediumturquoise; font-size: 12px;">
                        <tr>
                            <th>SOW Reference #*</th>
                            <th>PID</th>
                            <th>Contract No</th>
                            <th>PO Ref #</th>
                            <th>Owner</th>
                            
                            <th>Engagement Model</th>                            
                            <th>Project Details</th>
                            <th>Res Cnt</th>
                            <th>SOW Value ( USD)</th>
                            <th>Value  (mn)</th>
                            <th>SOW Value (SGD)</th>
                            <th>SOW Value (MYR)</th>
                            <th>SOW Value (INR)</th>                                                        
                            <th>Contract Currency (USD, SGD,MYR,INR) </th>                           
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status of the SOW/PO/Contract</th>
                            <th>Location</th>
                            <th>Business Area</th>
                            <th>Delivery  SPOC</th>
                            <th>Remarks</th>
                            <th>Customer TO SPOC</th>
                            <th>Customer CC SPOC</th>
                            <th>Delivery Model (Staff Aug)</th>                     
                            <th>Update</th>
                        </tr>
                        </thead>
                        
                        <tbody>
                        <tr>
                        	<tr ng-repeat="sowDetail in sowDetails">
                       		<td>{{sowDetail.sowNo}}</td>                       		
                            <td>{{sowDetail.pId}}</td>
                            <td>{{sowDetail.contractNo}}</td>
                            <td>{{sowDetail.poNo}}</td>
                            <td>{{sowDetail.owner}}</td>
                            
                            <td>{{sowDetail.engmntModel}}</td>                            
                            <td>{{sowDetail.projectDtls}}</td>
                            <td>{{sowDetail.resCount}}</td>
                            <td>{{sowDetail.sowValue}}</td>                            
                            <td>{{sowDetail.valueMillion}}</td>
                            
                            <td>{{sowDetail.sowValueSgd}}</td>
                            <td>{{sowDetail.sowValueMyr}}</td>
                            <td>{{sowDetail.sowValueInr}}</td>
                            
                            <td>{{sowDetail.contractCurrency}}</td>  
                            <td>{{sowDetail.sowStartDate | date:'MM-dd-yyyy'}}</td>
                            <td>{{sowDetail.sowEndDate | date:'MM-dd-yyyy'}}</td>
                            <td>{{sowDetail.sowStatus}}</td>
                            
                            <td>{{sowDetail.location}}</td>
                            <td>{{sowDetail.businessArea}}</td>
                            <td>{{sowDetail.deliverySpoc}}</td>
                            <td>{{sowDetail.sowRemarks}}</td>
                            <td>{{sowDetail.customerToSpoc}}</td>
                            <td>{{sowDetail.customerCcSpoc}}</td>
                            <td>{{sowDetail.deliveryModel}}</td>
                            <td><button ng-click="GetUserDetails(sowDetail.sowNo);" class="btn btn-warning">Update</button>
                            </td>                        	
            			</tr>            			           
            </tbody>    
            </table>        
            </div>
        </div>
    </div>
    
</div>
<!-- /Content Section -->
 
 
<!-- Bootstrap Modals -->
<!-- Modal - Add New Record/User -->
<div class="modal fade" id="add_new_record_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add New Record</h4>
            </div>
            
            <div class="modal-body">
 				 <div class="row">
                <div class="col-lg-12">
                    <form id="contact-form" name="form" novalidate>
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_sowR">SOW Reference <span style="color:red;font-size:12px">(Required)</span></label>
                                        <input id="form_sowNo" type="text" name="sowNo" ng-model="formData.sowNo" class="form-control" placeholder="SOW XXX/SCB/TM" ng-maxlength="4"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_pId">PID</label>
                                        <input id="form_pId" type="number" name="pId" ng-model="formData.pId" class="form-control" placeholder="PID" min="0">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_contactNo">Contract No</label>
                                        <input id="form_contractNo" type="text" name="contractNo" ng-model="formData.contractNo" class="form-control" placeholder="Contract No" min="0">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>       
                  
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_phone">Po No</label>
                                        <input id="form_poNo" type="number" name="poNo" ng-model="formData.poNo" class="form-control" placeholder="poNo" min="0">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_owner">Owner<span style="color:red;font-size:12px"> (Required)</span></label>
                                        <select id="form_owner" name="owner" ng-model="formData.owner" class="form-control" required>
                                        	<option value="">Select Owner</option>
    	 									<option value="TechMG">TechM</option>
      										<option value="SofGen">SofGen</option>
    									</select>
                                        <!-- input id="form_owner" type="text" name="owner" ng-model="formData.owner" class="form-control" placeholder="owner" -->
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_engmntModel">Engmnt Model</label>
                                        <select id="form_engmntModel" name="engmntModel" ng-model="formData.engmntModel" class="form-control">
                                        	<option value="">Select</option>
    	 									<option value="T and M">T and M</option>
      										<option value="Fixed Bid">Fixed Bid</option>
    									</select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                 <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_projectDtls">Project Dtls</label>
                                        <input id="form_projectDtls" type="text" name="projectDtls" ng-model="formData.projectDtls" class="form-control" placeholder="projectDtls">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_resCount">Res Count <span style="color:red;font-size:12px">(Required)</span></label>
                                        <input id="form_resCount" type="number" name="resCount" ng-model="formData.resCount" class="form-control" placeholder="resCount" min="0">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_sowValue">SOW Value USD</label>
                                        <input id="form_sowValue" type="number" name="sowValue" ng-readonly="true" ng-model="formData.sowValue" class="form-control" placeholder="sowValue" min="0">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_valueMillion">Value Million</label>
                                        <input id="form_valueMillion" type="number" name="valueMillion" ng-readonly="true" ng-model="formData.valueMillion" class="form-control" placeholder="valueMillion" min="0">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                 <!-- <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_sowCurrency">SOW Currency</label>
                                        input id="form_sowCurrency" type="text" name="sowCurrency" ng-model="formData.sowCurrency" class="form-control" placeholder="sowCurrency"
                                        <select id="form_sowCurrency" name="sowCurrency" ng-model="formData.sowCurrency" class="form-control" ng-change="updateCurVal(formData.sowCurrency)">
                                        	<option value="">Select Currency</option>
    	 									<option value="USD">USD</option>
      										<option value="SGD">SGD</option>
      										<option value="MYR">MYR</option>
      										<option value="INR">INR</option>
    									</select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> -->
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_sowValueSgd">SOW Value SGD</label>
                                        <input id="form_sowValueSgd" type="number" ng-disabled="valDisabledSGD" ng-blur="changeCurrency(formData.sowCurrency,formData.sowValueSgd);" name="sowValueSgd" ng-model="formData.sowValueSgd" class="form-control" placeholder="sowValueSgd" min="0">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_sowValueMyr">SOW Value MYR</label>
                                        <input id="form_sowValueMyr" type="number" ng-disabled="valDisabledMYR" ng-blur="changeCurrency(formData.sowCurrency, formData.sowValueMyr);" name="sowValueMyr" ng-model="formData.sowValueMyr" class="form-control" placeholder="sowValueMyr" min="0">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_sowValueInr">SOW Value INR</label>
                                        <input id="form_sowValueInr" type="number" ng-disabled="valDisabledINR" ng-blur="changeCurrency(formData.sowCurrency, formData.sowValueInr);" name="sowValueInr" ng-model="formData.sowValueInr" class="form-control" placeholder="sowValueInr" min="0">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_contractCurrency">Contract Currency<span style="color:red;font-size:12px"> (Required)</span></label>
                                     <!--    <input id="form_contractCurrency" type="number" name="contractCurrency" ng-model="formData.contractCurrency" class="form-control" placeholder="contractCurrency" min="0">
                                      -->   <select id="form_sowCurrency" name="sowCurrency" ng-model="formData.sowCurrency" class="form-control" ng-change="updateCurVal(formData.sowCurrency)">
                                        	<option value="">Select Currency</option>
    	 									<option value="USD">USD</option>
      										<option value="SGD">SGD</option>
      										<option value="MYR">MYR</option>
      										<option value="INR">INR</option>
    									</select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_sowStartDate">SOW Start Date</label>
                                        <input id="form_sowStartDate" type="date" name="sowStartDate" ng-model="formData.sowStartDate" class="form-control" placeholder="sowStartDate">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_sowEndDate">SOW End Date</label>
                                        <input id="form_sowEndDate" type="date" name="sowEndDate" ng-model="formData.sowEndDate" class="form-control" placeholder="sowEndDate">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_sowStatus">SOW Status</label>
                                        <select id="form_sowStatus" name="sowStatus" ng-model="formData.sowStatus" class="form-control">
                                        	<option value="">Select</option>
    	 									<option value="Active">Active</option>
      										<option value="Planned">Planned</option>
      										<option value="Closed">Closed</option>
      										<option value="SOW Cancelled">SOW Cancelled</option>
    									</select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_location">Location</label>
                                        <select id="form_location" name="location" ng-model="formData.location" class="form-control">
                                        	<option value="">Select</option>
    	 									<option value="BGL">BGL</option>
      										<option value="CHN">CHN</option>
      										<option value="KL">KL</option>
      										<option value="SG">SG</option>
      										<option value="SGP">SGP</option>
      										<option value="UK">UK</option>
    									</select>
                                        <!-- <input id="form_location" type="text" name="location" ng-model="formData.location" class="form-control" placeholder="location"> -->
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_businessArea">Business Area</label>
                                       <!-- <input id="form_businessArea" type="text" name="businessArea" ng-model="formData.businessArea" class="form-control" placeholder="businessArea"> -->
                                         <select id="form_businessArea" name="businessArea" ng-model="formData.businessArea" class="form-control">
                                        	<option value="">Select</option>
    	 									<option value="Core Banking">Core Banking</option>
      										<option value="Corporate & Institutional Banking">Corporate & Institutional Banking</option>
      										<option value="Enable 1.2">Enable 1.2</option>
      										<option value="Private Banking">Private Banking</option>
      										<option value="Retail Banking">Retail Banking</option>
    									</select>
                                       <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_deliverySpoc">Delivery Spoc</label>
                                       <!-- <input id="form_deliverySpoc" type="text" name="deliverySpoc" ng-model="formData.deliverySpoc" class="form-control" placeholder="deliverySpoc"> -->
                                       <select id="form_deliverySpoc" name="deliverySpoc" ng-model="formData.deliverySpoc" class="form-control">
                                        	<option value="">Select</option>
    	 									<option value="Christian.Mueller">Christian.Mueller</option>
      										<option value="Kalyan.Gadwal">Kalyan.Gadwal</option>
      										<option value="Karunakarrao.Cherukutota">Karunakarrao.Cherukutota</option>
      										<option value="Madan/Ishwar">Madan/Ishwar</option>
      										<option value="Madan.Singh">Madan.Singh</option>
      										<option value="SofGen">SofGen</option>
      										<option value="Thorsten.Walther">Thorsten.Walther</option>
    									</select>
                                       <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_sowRemarks">SOW Remarks</label>
                                       <input id="form_sowRemarks" type="text" name="sowRemarks" ng-model="formData.sowRemarks" class="form-control" placeholder="sowRemarks">
                                       <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_customerToSpoc">Customer To Spoc</label>
                                       <input id="form_customerToSpoc" type="text" name="customerToSpoc" ng-model="formData.customerToSpoc" class="form-control" placeholder="customerToSpoc">
                                       <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_customerCcSpoc">Customer CC Spoc</label>
                                       <input id="form_customerCcSpoc" type="text" name="customerCcSpoc" ng-model="formData.customerCcSpoc" class="form-control" placeholder="customerCcSpoc">
                                       <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                    	<label for="form_deliveryModel">Delivery Model</label>
                                    	<select id="form_deliveryModel" name="deliveryModel" ng-model="formData.deliveryModel" class="form-control">
                                        	<option value="">Select</option>
    	 									<option value="Fixed Price">Fixed Price</option>
      										<option value="Managed Fixed Price">Managed Fixed Price</option>
      										<option value="Managed T&M">Managed T&M</option>
      										<option value="Staff Augmentation">Staff Augmentation</option>
    									</select>
                                       	<!-- <input id="form_deliveryModel" type="text" name="deliveryModel" ng-model="formData.deliveryModel" class="form-control" placeholder="deliveryModel"> -->
                                       	<div class="help-block with-errors"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div><!-- /.8 -->
            </div> <!-- /.row-->
            </div> 
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="addRecord(formData)" >Add Record</button>
            </div>
        </div>
    </div>
</div>
</div>
<!-- // Modal -->



<!-- Modal - Update User details -->
<div class="modal fade" id="update_user_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Update</h4>
            </div>
            <div class="modal-body">




 <div class="controls">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_sowR">SOW Reference*</label>
                                        <input id="formModel_sowNo" type="text" name="sowNo" ng-readonly="true" id="update_sowNo" ng-model="formModalData.sowNo" class="form-control" placeholder="sowNo" required="required" data-error="SOW Reference is required." min="0">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_pId">PID</label>
                                        <input id="formModel_pId" type="number" name="pId" id="update_pId" ng-model="formModalData.pId" class="form-control" placeholder="pId" min="0">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_contactNo">Contract No</label>
                                        <input id="formModel_contractNo" type="text" name="contractNo" id="update_contractNo" ng-model="formModalData.contractNo" class="form-control" placeholder="Contract No" min="0">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_phone">Po No</label>
                                        <input id="formModel_poNo" type="number" name="poNo" id="update_poNo" ng-model="formModalData.poNo" class="form-control" placeholder="poNo" min="0">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_owner">Owner</label>                                        
										<select id="formModel_owner" name="owner" ng-model="formModalData.owner" class="form-control">
                                        	<option value="">Select Owner</option>
    	 									<option value="TechMG">TechM</option>
      										<option value="SofGen">SofGen</option>
    									</select>    									
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_engmntModel">Engmnt Model</label>
                                        <select id="formModel_engmntModel" name="engmntModel" ng-model="formModalData.engmntModel" class="form-control">
                                        	<option value="">Select</option>
    	 									<option value="T and M">T and M</option>
      										<option value="Fixed Bid">Fixed Bid</option>
    									</select>
                                        
                                        
                                    </div>
                                </div>
                                
                                 <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_projectDtls">Project Dtls</label>
                                        <input id="formModel_projectDtls" type="text" name="projectDtls" id="update_projectDtls" ng-model="formModalData.projectDtls" class="form-control" placeholder="projectDtls">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_resCount">Res Count</label>
                                        <input id="formModel_resCount" type="number" name="resCount" id="update_resCount" ng-model="formModalData.resCount" class="form-control" placeholder="resCount" min="0">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_sowValue">SOW Value USD</label>
                                        <input id="formModel_sowValue" type="number" name="sowValue" id="update_sowValue" ng-readonly="true" ng-model="formModalData.sowValue" class="form-control" placeholder="sowValue" min="0">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_valueMillion">Value Million</label>
                                        <input id="formModel_valueMillion" type="number" name="valueMillion" ng-readonly="true" ng-model="formModalData.valueMillion" class="form-control" placeholder="valueMillion" min="0">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                 <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form_sowCurrency">SOW Currency</label>
                                        <input id="form_sowCurrency" type="number" name="sowCurrency" ng-readonly="true" ng-model="formDataModel.sowCurrency" class="form-control" placeholder="sowCurrency" min="0">
                                         <!-- <select id="form_sowCurrency" name="sowCurrency" ng-model="formDataModel.sowCurrency" class="form-control" ng-disabled=true>
                                        	<option value="">Select Currency</option>
    	 									<option value="USD">USD</option>
      										<option value="SGD">SGD</option>
      										<option value="MYR">MYR</option>
      										<option value="INR">INR</option>
    									</select> -->
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_sowValueSgd">SOW Value SGD</label>
                                        <input id="formModel_sowValueSgd" type="number" name="sowValueSgd" ng-disabled="valDisabledSGD" ng-blur="changeCurrency(formModalData.sowCurrency, formModalData.sowValueSgd)" ng-model="formModalData.sowValueSgd" class="form-control" placeholder="sowValueSgd" min="0">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_sowValueMyr">SOW Value MYR</label>
                                        <input id="formModel_sowValueMyr" type="number" name="sowValueMyr" ng-disabled="valDisabledMYR" ng-blur="changeCurrency(formModalData.sowCurrency, formModalData.sowValueMyr)" ng-model="formModalData.sowValueMyr" id="update_sowValueMyr" class="form-control" placeholder="sowValueMyr" min="0">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_sowValueInr">SOW Value INR</label>
                                        <input id="formModel_sowValueInr" type="number" name="sowValueInr" ng-disabled="valDisabledINR" ng-blur="changeCurrency(formModalData.sowCurrency, formModalData.sowValueInr)" ng-model="formModalData.sowValueInr" id="update_sowValueInr" class="form-control" placeholder="sowValueInr" min="0">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_contractCurrency">Contract Currency</label>
                                        <input id="formModel_contractCurrency" type="text" name="contractCurrency" ng-readonly="true" ng-model="formModalData.contractCurrency" id="update_contractCurrency" class="form-control" placeholder="contractCurrency" min="0">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_currencyRate">currency Rate</label>
                                        <input id="formModel_currencyRate" type="text" name="currencyRate" ng-readonly="true" ng-model="formModalData.currencyRate" class="form-control" placeholder="currencyRate" min="0">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_sowStartDate">SOW Start Date</label>
                                        <input id="formModel_sowStartDate" type="text" name="sowStartDate" ng-readonly="true" ng-model="formModalData.sowStartDate | date:'MM-dd-yyyy' " id="update_sowStartDate" class="form-control" placeholder="">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_sowEndDate">SOW End Date</label>
                                        <input id="formModel_sowEndDate" type="text" name="sowEndDate" ng-readonly="true" ng-model="formModalData.sowEndDate | date:'MM-dd-yyyy'" id="update_sowEndDate" class="form-control" placeholder="sowEndDate">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_sowStatus">SOW Status</label>     
                                        <select id="formModel_sowStatus" name="sowStatus" ng-model="formModalData.sowStatus" class="form-control">
                                        	<option value="">Select</option>
    	 									<option value="Active">Active</option>
      										<option value="Planned">Planned</option>
      										<option value="Closed">Closed</option>
      										<option value="SOW Cancelled">SOW Cancelled</option>
    									</select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_location">Location</label>
                                         <select id="formModel_location" name="location" ng-model="formModalData.location" class="form-control">
                                        	<option value="">Select</option>
    	 									<option value="BGL">BGL</option>
      										<option value="CHN">CHN</option>
      										<option value="KL">KL</option>
      										<option value="SG">SG</option>
      										<option value="SGP">SGP</option>
      										<option value="UK">UK</option>
    									</select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_businessArea">Business Area</label>
                                       <select id="formModel_businessArea" name="businessArea" ng-model="formModalData.businessArea" class="form-control">
                                        	<option value="">Select</option>
    	 									<option value="Core Banking">Core Banking</option>
      										<option value="Corporate & Institutional Banking">Corporate & Institutional Banking</option>
      										<option value="Enable 1.2">Enable 1.2</option>
      										<option value="Private Banking">Private Banking</option>
      										<option value="Retail Banking">Retail Banking</option>
    									</select>
                                       
                                       <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_deliverySpoc">Delivery Spoc</label>                                       
                                        <select id="formModel_deliverySpoc" name="deliverySpoc" ng-model="formModalData.deliverySpoc" class="form-control">
                                        	<option value="">Select</option>
    	 									<option value="Christian.Mueller">Christian.Mueller</option>
      										<option value="Kalyan.Gadwal">Kalyan.Gadwal</option>
      										<option value="Karunakarrao.Cherukutota">Karunakarrao.Cherukutota</option>
      										<option value="Madan/Ishwar">Madan/Ishwar</option>
      										<option value="Madan.Singh">Madan.Singh</option>
      										<option value="SofGen">SofGen</option>
      										<option value="Thorsten.Walther">Thorsten.Walther</option>
    									</select>
                                       
                                       <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_sowRemarks">SOW Remarks</label>
                                       <input id="formModel_sowRemarks" type="text" name="sowRemarks" ng-model="formModalData.sowRemarks" id="update_sowRemarks" class="form-control" placeholder="sowRemarks">
                                       <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_customerToSpoc">Customer To Spoc</label>
                                       <input id="formModel_customerToSpoc" type="text" name="customerToSpoc" ng-model="formModalData.customerToSpoc" id="update_customerToSpoc" class="form-control" placeholder="customerToSpoc">
                                       <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_customerCcSpoc">Customer CC Spoc</label>
                                       <input id="formModel_customerCcSpoc" type="text" name="customerCcSpoc" ng-model="formModalData.customerCcSpoc" id="update_customerCcSpoc" class="form-control" placeholder="customerCcSpoc">
                                       <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_deliveryModel">Delivery Model</label>
                                       <select id="formModel_deliveryModel" name="deliveryModel" ng-model="formModalData.deliveryModel" class="form-control">
                                        	<option value="">Select</option>
    	 									<option value="Fixed Price">Fixed Price</option>
      										<option value="Managed Fixed Price">Managed Fixed Price</option>
      										<option value="Managed T&M">Managed T&M</option>
      										<option value="Staff Augmentation">Staff Augmentation</option>
    									</select>
                                       
                                       
                                       <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_createdDate">Created Date</label>
                                       <input id="formModel_createdDate" type="text" name="createdDate" ng-readonly="true" ng-model="formModalData.createdDate | date:'yyyy-MM-dd' " id="update_createdDate" class="form-control" placeholder="createdDate">
                                       <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="formModel_createdBy">Created By</label>
                                       <input id="formModel_createdBy" type="text" name="createdBy" ng-model="formModalData.createdBy" id="update_createdBy" class="form-control" placeholder="createdBy">
                                       <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="saveUserDetails(formModalData)">Save Changes</button>
                <input type="hidden" id="hidden_user_id">
            </div>
        </div>
    </div>
</div>
<!-- // Modal -->




 
<script src="js/library/jquery-1.12.4.js"></script>
<script src="js/library/bootstrap.min.js"></script>
<script src="js/sowApp.js"></script>
</body>
</html>